body {
    padding-top: 70px;
}

.panel .edit {
    display: none;
}

.panel.edit .edit {
    display: initial;
}

.panel.edit .noedit {
    display: none;
}

.panel-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.panel-custom {
    border-color:#f58233
}

.panel-custom>.panel-heading {
    background-color:#faa120;
    border-color:#faa120
}

.panel-custom>.panel-heading+.panel-collapse>.panel-body {
    border-top-color:#faa120
}

.panel-custom>.panel-heading .badge {
    color:#faa120;
    background-color:#fff
}

.panel-custom>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color:#faa120
}
